/* {
    border: 1px solid red;
    margin: 3px;
}*/

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: antiquewhite;
    align-items: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: max-content;
    height: auto;
    border: 3px solid black;
    background: rgb(255, 255, 198);
    box-shadow: 2px 2px 1px black;
    border-radius: 10px;
}
.results{
    display: block;
    grid-column: 1 / span 4;
    max-width: 310px;
    height: 120px;
    margin: 4px;
    border-color: 2px solid black;
}

#display {
    font-size: 22px;
    color: rgb(22, 26, 155);
    background: white;
    display: flex;
    max-width: 300px;
    height: 30px;
    justify-content: flex-end;
    align-items: end;
    padding: 5px;
    border-bottom: 3px solid red;
    margin-top: 10px;
    margin-bottom: 2px;

}
#finalresult{
    display: flex;
    max-width: 300px;
    height: 45px;
    font-size: 40px;
    color: red;
    background: white;
    font-weight: 800;
    text-shadow: 2px 2px 0px black ;
    padding: 2px;
    justify-content: flex-end;
    align-items: end;
    border-bottom: 3px solid black;

}


button {
    font-size: 25px;
    color: white;
    text-shadow: 2px 2px 0px rgb(153, 144, 144);
    font-weight: 600;
    background: rgb(42, 45, 45);
    border: 4px solid white;
    border-style: outset;
    transition: 0.5s;
    min-width: 70px;
    min-height: 70px;
    margin: 3px;
}
#AC {
    background: rgb(153, 240, 153);
}
.footer{
    margin-left: 30px;
}